

<!-- Overlay Container -->
<div id="<%= AJAX_OVERLAY_CONTAINER_NAME %>"></div>
<div id="<%= AJAX_OVERLAY_CONTAINER_NAME_2 %>"></div>




<div id="overlay_container" style="position: absolute; left: 0; top: 0; z-index: 5000">&nbsp;</div>

<!-- flash[:notice] & flash[:error] anzeige -->
<div id="<%= FLASH_AREA_DIV %>" class="">
  <% if !flash[:notice].blank? %>
    <%= javascript_tag("flashNoticeDisplay('#{flash[:notice]}', 'ok')") %>
  <% end %>
  <% if !flash[:error].blank? %>
    <%= javascript_tag("flashNoticeDisplay('#{flash[:error]}', 'error')") %>
  <% end %>
</div>

